.content{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    width:450px;
    height: 450px;
    border-radius: 15px;
    max-width: 450px;
    max-height: 450px;
    background: #FFD8D8;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text2{
    font-size:16px;
    font-weight: bold;
}
.text{
    border-radius: 15px;
    border: rgba(208, 208, 208, 0.92) solid;
    border-width: 1px;
    width:250px;
    height: 30px;
    font-size:16px;
    box-shadow: none;
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.1s;
    margin-top:5px;
    padding-left:12px;
}
#button1{
  color: white !important;
  font-family: "Quicksand", sans-serif !important;
  font-size: 24px !important;
  padding:5% 20%;
  background: #e58181 !important;
  border-radius: 15px !important;
  box-shadow: 3px 3px #f8c8c8;
}
.title2 {
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 2.6em !important;
    line-height: 2;
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    color: #8D5F5F;
  }
body, html{

  font-family: "Quicksand", sans-serif !important;
  width: 100%;
  height: 100%;
}

.container {
    margin: 0;
    width: 100%;
    background-color: #FFD8D8;
}

.navBlock {
    margin: 0;
    line-height: 1.5;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #FFD8D8;
}


ul {
    list-style-type: none;
    display: inline;
}

li#listLeft {
    text-decoration: none;
    float: left;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
}


li#listRight {
    text-decoration: none;
    float: right;
    margin: 0;
    padding: 10px;
}

#title {
    font-size: 1.2em;
    color: red;
}

button {
    font-size: 1.2em;
}
